demo/create-report-demo/src/main/app/create-report-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:google-dfp="http://www.mulesoft.org/schema/mule/google-dfp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-dfp http://www.mulesoft.org/schema/mule/google-dfp/current/mule-google-dfp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

	<context:property-placeholder location="demo.properties" />
    <google-dfp:google-dfp name="GoogleDfp__Config" clientId="${google-dfp.clientId}" clientSecret="${google-dfp.clientSecret}"
		refreshToken="${google-dfp.refreshToken}" networkCode="${google-dfp.networkCode}"
		applicationName="${google-dfp.applicationName}" endpoint="${google-dfp.endpoint}"
		tokenServerUrl="${google-dfp.tokenServerUrl}" doc:name="GoogleDfp"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <flow name="companyservicedemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="form.html" doc:name="Parse Template"/>
        <set-property propertyName="Content-Type" value="text/html" doc:name="Property"/>
    </flow>
    
    <flow name="createReportFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/createReport" doc:name="HTTP"/>
        <google-dfp:create-report config-ref="GoogleDfp__Config" columns="#[payload.get(&quot;columns&quot;)]" dimensionAttributes="#[payload.get(&quot;dimensionAttributes&quot;) == '' ? null : payload.get(&quot;dimensionAttributes&quot;)]" dimensions="#[payload.get(&quot;dimensions&quot;)]" doc:name="GoogleDfp">
            <google-dfp:start-date year="#[payload.get(&quot;startDate&quot;).split(&quot;-&quot;)[0]]" month="#[payload.get(&quot;startDate&quot;).split(&quot;-&quot;)[1]]" day="#[payload.get(&quot;startDate&quot;).split(&quot;-&quot;)[2]]"/>
            <google-dfp:end-date year="#[payload.get(&quot;endDate&quot;).split(&quot;-&quot;)[0]]" month="#[payload.get(&quot;endDate&quot;).split(&quot;-&quot;)[1]]" day="#[payload.get(&quot;endDate&quot;).split(&quot;-&quot;)[2]]"/>
        </google-dfp:create-report>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="downloadReportFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/downloadReport" doc:name="HTTP"/>
        <google-dfp:download-report config-ref="GoogleDfp__Config" doc:name="GoogleDfp">
            <google-dfp:report-job id="#[payload.get(&quot;idReport&quot;)]"/>
        </google-dfp:download-report>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="${file.outputDir}" responseTimeout="10000" doc:name="File" outputPattern="${file.outputFilename}#[server.dateTime.format(&quot;ddMMyyyyHHmmss&quot;)]${file.outputFilenameExtension}"/>
    </flow>

</mule>
