demo/company-service-demo/src/main/app/companyservicedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:google-dfp="http://www.mulesoft.org/schema/mule/google-dfp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-dfp http://www.mulesoft.org/schema/mule/google-dfp/current/mule-google-dfp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<context:property-placeholder location="demo.properties" />
	

	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <google-dfp:google-dfp name="GoogleDfp__Config" clientId="${google-dfp.clientId}" clientSecret="${google-dfp.clientSecret}"
		refreshToken="${google-dfp.refreshToken}" networkCode="${google-dfp.networkCode}"
		applicationName="${google-dfp.applicationName}" endpoint="${google-dfp.endpoint}"
		tokenServerUrl="${google-dfp.tokenServerUrl}" doc:name="GoogleDfp"/>
    <flow name="companyservicedemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="src/main/resources/form.html" doc:name="Parse Template"/>
        <set-property propertyName="Content-Type" value="text/html" doc:name="Property"/>
    </flow>
	
	<flow name="createCompanyFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/createCompany" doc:name="HTTP" allowedMethods="PUT" />
        <custom-transformer class="com.ricston.googledemo.transformer.GoogleCompany" doc:name="Create Google Company"/>
        <google-dfp:create-company config-ref="GoogleDfp__Config" doc:name="Create GoogleDfp Company">
            <google-dfp:company ref="#[payload]"/>
        </google-dfp:create-company>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>

	<flow name="updateCompanyFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/updateCompany" doc:name="HTTP" allowedMethods="PUT" />
        <set-session-variable variableName="newname" value="#[payload.get(&quot;newCompanyName&quot;)]" doc:name="Store name"/>
		<google-dfp:get-agency-by-name
			config-ref="GoogleDfp__Config" agencyName="#[payload.get(&quot;oldCompanyName&quot;)]"
			doc:name="Get Agency" />
        <logger level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload instanceof com.google.api.ads.dfp.axis.v201605.Company]">
                <expression-component doc:name="Expression"><![CDATA[#[payload.name=sessionVars.'newname']]]></expression-component>
                <google-dfp:update-company config-ref="GoogleDfp__Config" doc:name="GoogleDfp">
                    <google-dfp:company ref="#[payload]"/>
                </google-dfp:update-company>
            </when>
            <otherwise>
                <logger message="No company to update" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>
    <flow name="createContactFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/createContact" doc:name="HTTP"/>
        <dw:transform-message metadata:id="a13adadd-2d8f-4d46-839e-704b49ea54d8" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	companyId: payload.companyId,
    name: payload.contactName,
    email: payload.contactEmail
} as :object {class: "com.google.api.ads.dfp.axis.v201605.Contact"}]]></dw:set-payload>
        </dw:transform-message>
        <google-dfp:create-contact config-ref="GoogleDfp__Config" doc:name="GoogleDfp">
            <google-dfp:contact ref="#[payload]"/>
        </google-dfp:create-contact>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="updateContactFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/updateContact" allowedMethods="PUT" doc:name="HTTP"/>
        <set-session-variable variableName="contacttitle" value="#[payload.get(&quot;contactTitle&quot;)]" doc:name="Store Title"/>
        <google-dfp:get-contact-by-name config-ref="GoogleDfp__Config" contactName="#[payload.get(&quot;contactName&quot;)]" doc:name="Get Contact"/>
        <logger level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload instanceof com.google.api.ads.dfp.axis.v201605.Contact]">
                <expression-component doc:name="Expression"><![CDATA[#[payload.title=sessionVars.contacttitle]]]></expression-component>
                <google-dfp:update-contact config-ref="GoogleDfp__Config" doc:name="GoogleDfp">
                    <google-dfp:contact ref="#[payload]"/>
                </google-dfp:update-contact>
            </when>
            <otherwise>
                <logger message="No contacts to update" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>

</mule>
