demo/create-companies-demo/src/main/app/companyservicedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:google-dfp="http://www.mulesoft.org/schema/mule/google-dfp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-dfp http://www.mulesoft.org/schema/mule/google-dfp/current/mule-google-dfp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<context:property-placeholder location="demo.properties" />
	

	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <google-dfp:google-dfp name="GoogleDfp__Config" clientId="${google-dfp.clientId}" clientSecret="${google-dfp.clientSecret}"
		refreshToken="${google-dfp.refreshToken}" networkCode="${google-dfp.networkCode}"
		applicationName="${google-dfp.applicationName}" endpoint="${google-dfp.endpoint}"
		tokenServerUrl="${google-dfp.tokenServerUrl}" doc:name="GoogleDfp"/>
    <flow name="createcompaniesdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="form.html" doc:name="Parse Template"/>
        <set-property propertyName="Content-Type" value="text/html" doc:name="Property"/>
    </flow>
    <flow name="createCompaniesDataWeaveFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/createCompaniesByPattern" doc:name="HTTP"/>
        <custom-transformer class="com.ricston.googledemo.transformer.CreateGoogleCompany" doc:name="Java"/>
        <dw:transform-message metadata:id="44a79095-3dda-4b6f-aa6f-59f57bc7ec39" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[payload as :object {
	class : "com.google.api.ads.dfp.axis.v201605.Company"
},
payload as :object {
	class : "com.google.api.ads.dfp.axis.v201605.Company"
},
payload as :object {
	class : "com.google.api.ads.dfp.axis.v201605.Company"
}]]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message metadata:id="e7bf6f44-0377-4531-9b7f-fd69dbe09815" doc:name="Transform Message">
            <dw:input-payload doc:sample="list_Company_2.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%type company = :object { class: "com.google.api.ads.dfp.axis.v201605.Company"}
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	name: payload01.name ++ (indexOfPayload01 + 1 as :string),	
	type: payload01.type
} as :company)
]]></dw:set-payload>
        </dw:transform-message>
        <google-dfp:create-companies config-ref="GoogleDfp__Config" doc:name="GoogleDfp"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getCompaniesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getCompanies" doc:name="HTTP"/>
        <set-variable variableName="substring" value="#[payload.get(&quot;companyOldPattern&quot;)  + '%' ]" doc:name="Variable"/>
        <google-dfp:get-companies config-ref="GoogleDfp__Config" queryOrder="name ASC" queryString="name like '#[flowVars.substring]'" doc:name="GoogleDfp">
            <google-dfp:query-params/>
        </google-dfp:get-companies>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    
    
</mule>
