demo/companyservicedemo/src/main/app/companyservicedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:google-dfp="http://www.mulesoft.org/schema/mule/google-dfp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-dfp http://www.mulesoft.org/schema/mule/google-dfp/current/mule-google-dfp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<context:property-placeholder location="demo.properties" />
	

	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <google-dfp:google-dfp name="GoogleDfp__Config" clientId="${google-dfp.clientId}" clientSecret="${google-dfp.clientSecret}"
		refreshToken="${google-dfp.refreshToken}" networkCode="${google-dfp.networkCode}"
		applicationName="${google-dfp.applicationName}" endpoint="${google-dfp.endpoint}"
		tokenServerUrl="${google-dfp.tokenServerUrl}" doc:name="GoogleDfp"/>
	
	<flow name="createCompanyFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/createCompany" doc:name="HTTP" allowedMethods="PUT" />
		<custom-transformer class="com.ricston.googledemo.transformer.GoogleCompany"
			doc:name="Create Google Company" />
        <google-dfp:create-company config-ref="GoogleDfp__Config" doc:name="Create GoogleDfp Company">
            <google-dfp:company ref="#[payload]"/>
        </google-dfp:create-company>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>

	<flow name="updateCompanyFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/updateCompany" doc:name="HTTP" allowedMethods="PUT" />
		<set-session-variable variableName="newname"
			value="#[message.inboundProperties.'http.query.params'.newname]"
			doc:name="Store name" />
		<google-dfp:get-agency-by-name
			config-ref="GoogleDfp__Config" agencyName="#[message.inboundProperties.'http.query.params'.name]"
			doc:name="Get Agency" />
        <logger level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload instanceof com.google.api.ads.dfp.axis.v201602.Company]">
                <expression-component doc:name="Expression"><![CDATA[#[payload.name=sessionVars.'newname']]]></expression-component>
                <google-dfp:update-company config-ref="GoogleDfp__Config" doc:name="GoogleDfp">
                    <google-dfp:company ref="#[payload]"/>
                </google-dfp:update-company>
            </when>
            <otherwise>
                <logger message="No company to update" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>

</mule>
